#game_title {
  font-size: 30px;
  text-align: center;
}

#div_board {
  /* border: 1px solid; */
  /* background-color: aliceblue; */
  /* min-height: 100px; */
  /* min-width: 100px; */
  position: relative;
  left: 200px;
}

.cells {
  width: 50px;
  height: 50px;
  background-color: beige;
}

#span_player_name {
  /* padding-top: 10px; */
  /* margin-block-start: 100px; */
  border-radius: 5px;
  align-content: center;
  border: 1px solid;
  background-color: aliceblue;
  font-size: large;
  margin-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}
.winning_cells {
  width: 50px;
  height: 50px;
  font-size: xx-large;
  font-weight: bold;

  background-color: aquamarine;
}

.main_buttons {
  background-color: lightgreen;
  border-radius: 10px;
  height: 40px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
}

.class_buttons {
  display: block;
}
#span_main_messege {
  font-size: xx-large;
  color: black;
}

#span_secondery_messege {
  font-size: xx-large;
  color: black;
  display: block;
}

#span_messege {
  min-height: 100px;
  display: block;
}

#span_timer {
  margin-top: 50px;
  margin-left: 500px;
  border: 1px solid;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: coral;
}

#div_number_of_rows {
  margin-top: 20px;
}

body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./images/toy-2561392.jpg");

  background-size: cover;
  margin-left: 50px;
}
